/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body{ 
  height: 100%;
}

body{
  background-color: #FFF;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

h1{ 
  font-size: 2em;
}

h1.blog{
  font-size: 3em;
}

h2{
  font-size: 2.25em;
}

h3{
  font-size: 1.75em;
}

small.date{
  font-size: 1.2em;
}

p{ 
  margin: 1em 0;
}

a{ 
  color: #3498db;
}
a:hover{ 
  color: #72BCED; 
}
a:visited{ 
  color: #3498db; 
}

/* Prevent IE from placing a border around image links */
a img{
  border: none;
}

/*****************************************************************************/
/*
/* Custom
/*
/*****************************************************************************/

header{
  background-color: #2980b9;
  color: #ffffff;
}

header *{
  color: #ffffff;
  vertical-align: middle;
}

header > div.container{
  padding: 0 1rem;
}

header a{
  display: inline-block;
  height: 100%;
  padding: 0.5em;
  margin-right: 5px;
  background-color: #3498db;
  text-decoration: none;
}

header a:hover, header a.current{
  background-color: #72BCED;
}

header a span{
  margin-left: 5px;
  display: none;
}

@media screen and (min-width: 36em) {
  header a span{
    display: inline;
  }
}

div.container{
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
}

div.container.content, div.title-bar div.container{
  padding: 1rem;
}

div.title-bar{
  background-color: #72BCED;
  color: white;
}

/* Arrow */

span.arrow-right{
  background-image: url('/img/arrow-right.png');
  background-repeat: no-repeat;
  background-position: left center;
  background-size: 1em;
  display: inline-block;
  height: 1em;
  width: 1em;
  vertical-align: baseline;
}

/* Blog and Work list */
div.blog a, div.projects a, div.labs a{
  color: black;
  text-decoration: none;
  display: block;
  padding-bottom: 0.5em;
  margin-bottom: 0.5em;
  border-bottom: 1px solid #3498db;
  background-image: url('/img/arrow-right.png');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 1em;
  padding-right: 1em;
}

div.blog a:hover, div.projects a:hover, div.labs a:hover{
  border-bottom: 1px solid #72BCED;
  background-image: url('/img/arrow-right-light.png');
}

div.blog a span, div.projects a span, div.labs a span{
  color: #3498db;
  font-size: 1.2em;
}

div.blog a:hover span, div.projects a:hover span, div.labs a:hover span{
  color: #72BCED;
}

div.blog, div.projects, div.labs{
  font-size: 1.2em;
}

div.post-blog{
    font-size: 1em;
  }

@media screen and (min-width: 20em) {
  div.post-blog{
    font-size: 1.3em;
  }
}


div.post p{
  line-height: 1.5;
}

div.post-blog hr{
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  height: 1px;
  background: #333;
}

/* Make post images responsive */

div.post img{
  max-width: 100%;
}

/* Homepage styling */

div.home img.logo{
  width: 100px;
  height: 100px;
}

@media screen and (min-width: 36em) {
  div.home img.logo{
    width: 150px;
    height: 150px;
  }
}

@media screen and (min-width: 40em) {
  div.home img.logo{
    width: 200px;
    height: 200px;
  }
}

@media screen and (min-width: 23em) {
  div.home img.logo{
    float: left;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }

  div.home .about-clear{
    clear: both;
  }
}

div.home p.about-heading{
  font-size: 1.8em;
  font-weight: bold;
}

div.home p.about-subheading{
  font-size: 1.5em;
  font-weight: bold;
}

div.home p.about-text{
  font-size: 1.2em;
}

div.home img.project{
  width: 100%;
  padding-bottom: 0.5em;
}

div.home a.project{
  display: inline-block;
  max-width: 100%;
  text-decoration: none;
  color: black;
}

div.home p.project{
  margin: 0;
}

div.home a.project{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-right: 1em;
  border-bottom: 1px solid #3498db;
  display: block;
}

div.home a.project p > span{
  background-image: url(/img/arrow-right.png);
  background-position: center right;
  background-size: 1em;
  background-repeat: no-repeat;
  color: black;
  text-decoration: none;
  padding-right: 2em;
  display: block;
  width: 100%;
}

div.home a.project:hover p > span{
  background-image: url(/img/arrow-right-light.png);
}

div.home p.project span.project-title{
  font-size: 1.2em;
  color: #3498db;
}

div.home a.project:hover span.project-title{
  color: #72BCED;
}

div.home a.project:hover{
  border-bottom: 1px solid #72BCED;
}

div.home a.post{
  display: block;
  max-width: 100%
}

div.home p.post{
  margin: 0;
}

div.home a.post{
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-right: 1em;
  border-bottom: 1px solid #3498db;
}

div.home a.post p > span{
  background-image: url(/img/arrow-right.png);
  background-position: center right;
  background-size: 1em;
  background-repeat: no-repeat;
  padding-right: 2em;
  display: block;
  width: 100%;
}

div.home a.post{
  color: black;
  text-decoration: none;
}

div.home a.post:hover p > span{
  background-image: url(/img/arrow-right-light.png);
}

div.home p.post span.post-title{
  font-size: 1.2em;
  color: #3498db;
}

div.home a.post:hover span.post-title{
  color: #72BCED;
}

div.home a.post:hover{
  border-bottom: 1px solid #72BCED;
}

@media screen and (min-width: 36em) {
  p.mobile{
    display: none;
  }
}

/* Design box */
p.design-box{
  display: inline-block;
}

p.design-box span.colour{
  width: 5em;
  height: 5em;
  padding: 0.4em;
  display: inline-block;
  color: #000000;
  color: rgba(0, 0, 0, 0.5);
}

p.design-box span.colour:first-child{
  border-radius: 0.5em 0 0 0.5em;
}

p.design-box span.colour:last-child{
  border-radius: 0 0.5em 0.5em 0;
}

p.design-box span.colour.colour-2d83a5{
  background-color: #2d83a5;
}

p.design-box span.colour.colour-2d8f3a{
  background-color: #2d8f3a;
}

p.design-box span.colour.colour-ffffff{
  background-color: #ffffff;
}

p.design-box span.colour.colour-c11c22{
  background-color: #c11c22;
}

p.design-box span.colour.colour-715a4a{
  background-color: #715a4a;
}

p.design-box span.colour.colour-fbf032{
  background-color: #fbf032;
}

/* Quotes */

blockquote {
  border-left: 0.5em solid #ddd;
  padding-left: 0.5em;
  font-size: 1.5em;
}

/* White blog style */

@media screen and (min-width: 36em) {

  div.title-bar, header > div > a, header > div > a.current, header{
    transition: background-color 0.2s ease, color 0.2s ease;
  }

  body.white > div.title-bar{
    transition: background-color 0.2s ease, color 0.2s ease;
    background-color: white;
    color: black;
  }

  body.white > header > div > a {
    transition: background-color 0.2s ease, color 0.2s ease;
    background-color: #aaa;
  }

  body.white > header > div > a.current{
    transition: background-color 0.2s ease, color 0.2s ease;
    background-color: #ddd;
  }

  body.white > header {
    transition: background-color 0.2s ease, color 0.2s ease;
    background-color: #888;
  }

}

/* Button to top */

@media screen and (min-width: 60em) {

  div.link-top{
    background-color: #888;
    border-radius: 100em;
    position: fixed;
    opacity: 0;
    cursor: pointer;
    top: 10px;
    left: 10px;
    width: 60px;
    height: 60px;
    background-image: url('/img/top-sprite.png');
    background-size: 100% 200%;
    background-position: 0% 0%;
    transition: background-position 0.5s ease, opacity 0.05s ease, background-color 0.5s ease; 
  }

  html.floating div.link-top{
    opacity: 1;
    transition: background-position 0.5s ease, opacity 0.5s ease, background-color 0.5s ease;
  }

  div.link-top:hover{
    background-position: 0% 100%;
    background-color: #2980b9;
    transition: background-position 0.5s ease, background-color 0.5s ease; 
  }

}
