/* Main styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body { 
  height: 100%;
}

body {
  background-color: #bfdef1;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-size: 1rem;
}

h1 { 
  font-size: 3em;
}

h2 {
  font-size: 2.25em;
}

h3 {
  font-size: 1.75em;
}

p { 
  margin: 1em 0;
}

a { 
  color: #3498db;
}
a:hover { 
  color: #72BCED; 
}
a:visited { 
  color: #3498db; 
}

a.no-dec {
  text-decoration: none;
}

a.link-white{
  color: #ffffff;
}

a img {
  border: none;
}

a.arrow-white {
  color: #ffffff;
  background-image: url('/img/arrow-white.png');
  background-size: 0.75em;
  padding-right: 1em;
  background-position: right center;
  background-repeat: no-repeat;
}

a.arrow-white:hover {
  text-decoration: underline;
}

blockquote {
  border-left: 5px solid #3498db;
  padding-left: 5px;
}

/* Page styles */

div.home section > * {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3em;
  padding-bottom: 3em;
}

@media screen and (max-width: 52em) {
  div.home section > *, div.blog-list section > *, div.blog-post section > * {
    width: 90%;
  }
}

@media screen and (max-width: 55em) {
  body {
    font-size: 0.95rem;
  }
}

@media screen and (max-width: 50em) {
  body {
    font-size: 0.90rem;
  }
}

@media screen and (max-width: 45em) {
  body {
    font-size: 0.85rem;
  }
}

@media screen and (max-width: 22em) {
  body {
    font-size: 0.80rem;
  }
}

@media screen and (max-width: 17em) {
  body {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 13em) {
  body {
    font-size: 0.70rem;
  }
}

div.home section.header {
  background-color: #2980b9;
}

div.home section.blog {
  background-color: #439cd5;
}

div.home section.projects {
  background-color: #81bde3;
}

div.home section.design {
  background-color: #bfdef1;
}

div.home section.contact {
  background-color: #ffffff;
}

div.home section.header * {
  text-align: center;
  color: #ffffff;
}

div.home section.header img.logo {
  width: 15em;
  height: 15em;
  border-radius: 100em;
}

@media screen and (max-width: 20em) {
  div.home section.header img.logo{
    width: 60%;
    height: auto;
  }
}

div.home section.blog * {
  color: #ffffff;
}

div.home section.blog ul {
  list-style-type: none;
}

div.home section.blog ul li {
  color: #000000;
  background-color: #ffffff;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 1.25rem;
  cursor: pointer;
}

div.home section.blog ul li a {
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 1.5em;
  display: block;
}

div.home section.blog ul li a * {
  color: #000000;
}

div.blog-list section.blog ul li a * {
  color: #000000;
}

div.home section.blog ul li a:hover {
  background-color: #bfdef1;
}

div.home section.blog a.blog-more {
  color: #000000;
  background-color: #bfdef1;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 1.5em;
  display: block;
}

div.home section.blog a.blog-more:hover {
  background-color: #81bde3;
}

div.home section.projects * {
  color: #ffffff;
}

div.home section.projects ul {
  list-style-type: none;
}

div.home section.projects ul li {
  color: #000000;
  background-color: #ffffff;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 1.25rem;
  cursor: pointer;
}

div.home section.projects ul li a {
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 1.5em;
  display: block;
}

div.home section.projects ul li a * {
  color: #000000;
}

div.home section.projects ul li a:hover {
  background-color: #bfdef1;
}

div.home section.projects img.project-hero {
  max-width: 100%;
}

div.home section.design * {
  color: #ffffff;
}

/* Contact me section */

div.home section.contact a {
  color: #000000;
}

/* Blog posts and lists */

div.blog-list section > * {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3em;
  padding-bottom: 3em;
}


div.blog-list a, div.blog-list a * {
  text-decoration: none;
}

div.blog-list section.header span.darker {
  color: #bfdef1;
}

div.blog-list a:hover section.header * {
  color: #bfdef1;
}

div.blog-list a:hover section.header span.darker {
  color: #81bde3;
}

div.blog-list section.header {
  background-color: #2980b9;
}

div.blog-list section.blog {
  background-color: #439cd5;
}

div.blog-list section.header * {
  text-align: center;
  color: #ffffff;
}

div.blog-list section.blog * {
  color: #ffffff;
}

div.blog-list section.blog ul {
  list-style-type: none;
}

div.blog-list section.blog ul li {
  color: #000000;
  background-color: #ffffff;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  font-size: 1.25rem;
  cursor: pointer;
}

div.blog-list section.blog.design-list ul li {
  cursor: default;
  padding: 1em;
}

div.blog-list section.blog.design-list ul li * {
  color: #000000;
}

div.blog-list section.blog.design-list ul li img {
  border: 5px solid #dddddd;
  text-align: center;
  width: 410px;
  max-width: 100%;
}

div.blog-list section.blog.design-list ul li.large img {
  width: 100%;
}

div.blog-list section.blog ul li a {
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 1.5em;
  display: block;
}

div.blog-list section.blog ul li a:hover {
  background-color: #bfdef1;
}

div.blog-list section.blog.design-list ul li a.img-large {
  color: #000000;
  background-color: #ffffff;
  text-decoration: underline;
  width: auto;
  height: auto;
  padding: 0;
  display: inline-block;
}

div.blog-list section.blog.design-list ul li a.img-large:hover {
  background-color: none;
}

div.blog-post section > * {
  max-width: 50em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3em;
  padding-bottom: 3em;
}

div.blog-post section.post {
  background-color: #ffffff;
}

div.blog-post section.post article * {
  font-size: 1.25rem;
}

div.header-container {
  background-position: center;
  background-size: cover;
}

div.blog-post section.header article {
  padding-top: 5em;
  padding-bottom: 5em;
  color: #ffffff;
  text-shadow: 1px 1px 10px #000000;
}

div.blog-post a.home section {
  background-color: #2980b9;
  background-color: rgba(41, 128, 185, 0.5);
  color: #ffffff;
}

div.blog-post a.home section article {
  padding-top: 0.25em;
  padding-bottom: 0.25em;
}

div.blog-post a.home section p {
  margin: 0;
}

div.blog-post h2.attr {
  font-size: 1.2em;
}

div.blog-post h2.attr a {
  color: #ffffff;
}

div.blog-post section.next-post {
  background-color: #2980b9;
  color: white;
}

p.blog-post-preview a {
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 1.5em;
  display: block;
  font-size: 1.25rem;
  cursor: pointer;
}

div.blog-post section.subscribe h3, div.blog-post section.next-post h3 {
  font-size: 2.25em;
}

div.blog-post hr {
  width: 20%;
  margin-left: auto;
  margin-right: auto;
  border: 0;
  height: 1px;
  background: #333;
}

a.rss-feed {
  background-color: #000000;
  color: #ffffff;
  text-decoration: none;
  padding: 0.2em 0.4em;
  border-radius: 0.5em;
  display: inline-block;
}

section.post p {
  font-weight: 300;
}

div.blog-post div.header-no-photo {
  background-color: #ffffff;
  color: #000000;
}

div.blog-post div.header-no-photo section article {
  color: #000000;
  text-shadow: none;
  padding-top: 3em;
  padding-bottom: 0;
}

div.blog-post div.header-no-photo section article a {
  color: #000000;
  text-shadow: none;
}

div.header-container.header-photo {
  position: relative;
}

div.header-container.header-photo a.photo-credit {
  position: absolute;
  bottom: 5px;
  right: 5px;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 5px;
  color: #fff;
}

/* Social buttons */

p.p-social {
  text-align: center;
}

img.img-social {
  width: 40px;
  margin: 1em;
}

/* Transcript section */

div.transcript {
  border-bottom: 5px solid #3498db;
  padding-bottom: 5px;
  background-color: #eeeeee;
}

div.transcript article.transcript-toggle {
  cursor: pointer;
}

div.transcript article.transcript-toggle:hover {
  text-decoration: underline;
}

div.transcript article.transcript-content {
  display: none;
  max-height: 10.25em;
  overflow: scroll;
}
