---
layout: default
title: Projects
nav: projects
---

<div id="blog-list" class="blog-list">
  <a href="/" class="no-dec">
    <section class="header">
      <article>
        <h1><span class="darker">Jack Hughes / </span>Projects</h1>
      </article>
    </section>
  </a>
  <section class="blog">
    <article>
      <h2>Projects</h2>
      <ul>
        {% for project in site.tags.project %}
          <li>
            <a href="{{ project.url }}"{% if project.logo %} class="project-logo-link"{% endif %}>
              {% if project.logo %}
                <img src="{{ project.logo }}" alt="{{ project.title }}" class="project-logo">
              {% else %}
                {{ project.title }}
                <br>
                <small>{{ project.subtitle }}</small>
              {% endif %}
            </a>
          </li>
        {% endfor %}
      </ul>
    </article>
  </section>
</div>
