html, body {height: 100%; font-family: 'Open Sans', sans-serif; font-weight:400;}

#item{
	font-size:200%;
	text-shadow: 0px 2px 3px #DADADA;
    position: relative;
	width: 420px;
	height: 320px;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);	
    background-color:#FFFFFF;
    text-align: center;
    margin-right:auto;
    margin-left:auto;
    color:#BC223A;
	display:none;
}
/*
#item:before{
	z-index: -1;
	position: absolute;
	top:3px;
	left:0;
	width: 420px;
	height: 320px;
	content: '';
	background-color: #FFFFFF;
	
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
	
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	}

	
#item:after {
	z-index: -2;
	position: absolute;
	top:3px;
	left:0;
	width: 420px;
	height: 320px;
	content: '';
	background-color: #FFFFFF;
	
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	transform: rotate(-2deg);
	
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	}
	*/

.small{
	font-size: 50%;
}
html { 
	background: url(backm.png) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}