.full{
    width:100%;
}
.normal{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}
#item{
    position: relative;
	width: 420px;
	height: 320px;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);	
    background-color:#D3D3D3;
}
#item:before{
	z-index: -1;
	position: absolute;
	top:3px;
	left:0;
	width: 420px;
	height: 320px;
	content: '';
	background-color: #D3D3D3;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	}

	
#item:after {
	z-index: -2;
	position: absolute;
	top:3px;
	left:0;
	width: 420px;
	height: 320px;
	content: '';
	background-color: #D3D3D3;
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	transform: rotate(-2deg);
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	}
td{
    padding:20px;   
}


* {margin:0;padding:0;} 

html, body {height: 100%; font-family: 'Open Sans', sans-serif; font-weight:400;}

#wrap {min-height: 100%;}

#main {overflow:auto;
    padding-bottom: 180px;}  

#footer {position: relative;
	margin-top: -180px; 
	height: 180px;
	clear:both;
    background-color:#666666;
    } 

/*Opera Fix*/
body:before{
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;
}
.white{
    background-color:#FFFFFF;
    margin-left: auto;
    margin-right: auto;
    border-radius:5px;
}
.titleBar{
    font-size:140%;
    font-weight:700;
}
.buttons{
    text-align:right;   
}
.button{
    color: black;
    text-decoration: none;
float:right;
position: relative;
    height: 25px;
    font: 12px;
    font-weight: bold;
    margin-left:10px;
    border-bottom:solid #FFFFFF;
}
.button:hover, .buttonCurrent {
    border-bottom:solid #FF8533;
}
span.tooltip {
      position: absolute;
      width: 40px;
      height: 20px;
      line-height: 20px;
      padding: 10px;
      font-size: 14px;
      text-align: center;
      color: rgb(113, 157, 171);
      background: rgb(211, 211, 211);
      border: 4px solid rgb(211, 211, 211);
      border-radius: 5px;
      text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
      box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
}

span.tooltip:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent #D3D3D3 transparent;
      top: -24px;
      left: 20px;
}