.full{
    width:100%;
}
.normal{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}
.section{
    margin-top: 100px;   
}
#item{
    position: relative;
	width: 400px;
	height: 300px;
    padding:10px;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);	
    background-color:#D3D3D3;
}
#item:before{
	z-index: -1;
	position: absolute;
	top:3px;
	left:0;
	width: 420px;
	height: 320px;
	content: '';
	background-color: #D3D3D3;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	}

.widget{
 background: rgb(224,224,224); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UwZTBlMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhOGE4YTgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  rgba(224,224,224,1) 0%, rgba(168,168,168,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(224,224,224,1)), color-stop(100%,rgba(168,168,168,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(168,168,168,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(168,168,168,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(224,224,224,1) 0%,rgba(168,168,168,1) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(224,224,224,1) 0%,rgba(168,168,168,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#a8a8a8',GradientType=0 ); /* IE6-8 */
border-radius:15px;
    margin-left:auto;
    margin-right:auto;
    height:110px;
    width:300px;
}
	.way{
margin-top: -118;        /* Size of fixed header */
  padding-bottom: 118px; 
  display: block; 
}
#item:after {
	z-index: -2;
	position: absolute;
	top:3px;
	left:0;
	width: 420px;
	height: 320px;
	content: '';
	background-color: #D3D3D3;
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	transform: rotate(-2deg);
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	}
td{
    padding:20px;   
}
.shotinfo{
    background-color: #D3D3D3;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8); 
    height:210px;
    padding:10px;
    width:95%;
    margin-left:auto;
    margin-right:auto;
}

* {margin:0;padding:0;} 
.dark{
    background-color:#666666;position: fixed;
top: 0;
z-index: 1;
    width:100%;
}
html, body {height: 100%; font-family: 'Open Sans', sans-serif; font-weight:400;}

#wrap {min-height: 100%;}

#main {overflow:auto;
    padding-bottom: 180px;}  

#footer {position: relative;
	margin-top: -180px; 
	height: 180px;
	clear:both;
    background-color:#666666;
    } 

/*Opera Fix*/
body:before{
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;
}
.white{
    color:#FFFFFF;
    margin-left: auto;
    margin-right: auto;
    border-radius:5px;
}
.titleBar{
    font-size:140%;
    font-weight:700;
}
.titleBar2{
    font-size:140%;
    font-weight:700;
    color:#FFFFFF;
}
.buttons{
    text-align:right;   
}
.button{
    color: black;
    text-decoration: none;
float:right;
position: relative;
    height: 25px;
    font: 12px;
    font-weight: bold;
    margin-left:10px;
    border-bottom:solid #FFFFFF;
}
.button:hover, .buttonCurrent {
    border-bottom:solid #FF8533;
}
.button2{
    color: black;
    text-decoration: none;
float:right;
position: relative;
    height: 25px;
    font: 12px;
    font-weight: bold;
    margin-left:10px;
    border-bottom:solid #666666;
    color:#FFFFFF;
}
.button2:hover, .buttonCurrent {
    border-bottom:solid #FF8533;
}
span.tooltip {
      position: absolute;
      width: 40px;
      height: 20px;
      line-height: 20px;
      padding: 10px;
      font-size: 14px;
      text-align: center;
      color: #000000;
      background: rgb(211, 211, 211);
      border: 4px solid rgb(211, 211, 211);
      border-radius: 5px;
      text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
      box-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 2px 0px;
      visibility:hidden;
}

span.tooltip:after {
      content: "";
      position: absolute;
      width: 0;
      height: 0;
      border-width: 10px;
      border-style: solid;
      border-color: transparent transparent #D3D3D3 transparent;
      top: -24px;
      left: 20px;
}
.shot{ 
   position: relative; 
   width: 100%; /* for IE 6 */
}

h2 { 
   position: absolute; 
   top: 200px; 
   left: 0; 
   width: 100%; 
   display:none;
}
h2 span { 
   color: white; 
   font: bold 24px/45px; 
   letter-spacing: -1px;  
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px; 
}
h2 span.spacer {
   padding:0 5px;
}
div.cursor {
  display: inline-block;
  background: #FFF;
  margin-left: 1px;

  -webkit-animation: blink 2s linear 0s infinite;
  -moz-animation: blink 2s linear 0s infinite;
  -ms-animation: blink 2s linear 0s infinite;
  -o-animation: blink 2s linear 0s infinite;
}
@-webkit-keyframes blink {
  0%   { background: #FFF; color:#FFF;}
  1%   { background: #000; color:#000;}
  50%  { background: #000; color:#000;}
  51%  { background: #FFF; color:#FFF;}
  100% { background: #FFF; color:#FFF;}
}

@-moz-keyframes blink {
  0%   { background: #FFF; color:#FFF;}
  1%   { background: #000; color:#000;}
  50%  { background: #000; color:#000;}
  51%  { background: #FFF; color:#FFF;}
  100% { background: #FFF; color:#FFF;}
}

@-ms-keyframes blink {
  0%   { background: #FFF; color:#FFF;}
  1%   { background: #000; color:#000;}
  50%  { background: #000; color:#000;}
  51%  { background: #FFF; color:#FFF;}
  100% { background: #FFF; color:#FFF;}
}

@-o-keyframes blink {
  0%   { background: #FFF; color:#FFF;}
  1%   { background: #000; color:#000;}
  50%  { background: #000; color:#000;}
  51%  { background: #FFF; color:#FFF;}
  100% { background: #FFF; color:#FFF;}
}
/*  
Sticky Footer Solution
by Steve Hatcher 
http://stever.ca
http://www.cssstickyfooter.com
*/

* {margin:0;padding:0;} 

/* must declare 0 margins on everything, also for main layout components use padding, not 
vertical margins (top and bottom) to add spacing, else those margins get added to total height 
and your footer gets pushed down a bit more, creating vertical scroll bars in the browser */

html, body {height: 100%;}

#wrap {min-height: 100%;}

#main {overflow:auto;
	padding-bottom: 180px;}  /* must be same height as the footer */

#footer {position: relative;
	margin-top: -180px; /* negative value of footer height */
	height: 180px;
	clear:both;} 

/*Opera Fix*/
body:before {/* thanks to Maleika (Kohoutec)*/
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;/* thank you Erik J - negate effect of float*/
}



/* IMPORTANT

You also need to include this conditional style in the <head> of your HTML file to feed this style to IE 6 and lower and 8 and higher.

<!--[if !IE 7]>
	<style type="text/css">
		#wrap {display:table;height:100%}
	</style>
<![endif]-->

*/