.full{
    width:100%;
}
.normal{
    width:1000px;
    margin-left:auto;
    margin-right:auto;
}
#item{
    position: relative;
	width: 420px;
	height: 320px;
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);	
    background-color:#D3D3D3;
}
#item:before{
	z-index: -1;
	position: absolute;
	top:3px;
	left:0;
	width: 420px;
	height: 320px;
	content: '';
	background-color: #D3D3D3;
	-webkit-transform: rotate(3deg);
	-moz-transform: rotate(3deg);
	-o-transform: rotate(3deg);
	transform: rotate(3deg);
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	}

	
#item:after {
	z-index: -2;
	position: absolute;
	top:3px;
	left:0;
	width: 420px;
	height: 320px;
	content: '';
	background-color: #D3D3D3;
	-webkit-transform: rotate(-2deg);
	-moz-transform: rotate(-2deg);
	-o-transform: rotate(-2deg);
	transform: rotate(-2deg);
	-webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
	}
td{
    padding:20px;   
}


* {margin:0;padding:0;} 

html, body {height: 100%; font-family: 'Open Sans', sans-serif; font-weight:400;}

#wrap {min-height: 100%;}

#main {overflow:auto;
    padding-bottom: 180px;}  

#footer {position: relative;
	margin-top: -180px; 
	height: 180px;
	clear:both;
    background-color:#666666;
    } 

/*Opera Fix*/
body:before{
content:"";
height:100%;
float:left;
width:0;
margin-top:-32767px;
}
.titleBar{
    font-size:140%;
    font-weight:700;
}
.buttons{
    text-align:right;   
}
.button{
    color: black;
    text-decoration: none;
float:right;
position: relative;
    position: relative;
    height: 25px;
    margin: 0 10px 18px 0;
    text-decoration: none;
    font: 12px;
    font-weight: bold;
    line-height: 25px;
    text-align: center;
}
/* GREY */
/* http://webdesign.tutsplus.com/tutorials/site-elements/orman-clarks-chunky-3d-web-buttons-the-css3-version/ */
a.grey,
a.grey:hover,
a.grey:visited {
    color: #555;
    border-bottom: 4px solid #b2b1b1;
    text-shadow: 0px 1px 0px #fafafa;
    background: #eee;
    background: -webkit-gradient(linear, left top, left bottom, from(#eee), to(#e2e2e2));
    background: -moz-linear-gradient(top,  #eee,  #e2e2e2);
    box-shadow: inset 1px 1px 0 #f5f5f5;
}
.grey:before,
.grey:after {
    border: 1px solid #cbcbcb;
    border-bottom: 1px solid #a5a5a5;
}
.grey:hover {
    background: #e2e2e2;
    background: -webkit-gradient(linear, left top, left bottom, from(#e2e2e2), to(#eee));
    background: -moz-linear-gradient(top,  #e2e2e2,  #eee);
}
a.button:before,
a.button:after {
    content: '';
    position: absolute;
    left: -1px;
    height: 25px;
    width: 80px;
    bottom: -1px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
a.button:before {
    height: 23px;
    bottom: -4px;
    border-top: 0;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    -webkit-box-shadow: 0 1px 1px 0px #bfbfbf;
    -moz-box-shadow: 0 1px 1px 0px #bfbfbf;
    box-shadow: 0 1px 1px 0px #bfbfbf;
}
/* ACTIVE STATE */
a.button:active {
    border: none;
    bottom: -4px;
    margin-bottom: 22px;
    -webkit-box-shadow: 0 1px 1px #fff;
    -moz-box-shadow:  0 1px 1px #fff;
    box-shadow:  1px 1px 0 #fff, inset 0 1px 1px rgba(0, 0, 0, 0.3);
}
a.button:active:before,
a.button:active:after {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}