---
layout: default
nav: blog
---

<div id="blog-post" class="blog-post">
  <div class="header-container {% if page.header %}{% else %}header-no-photo{% endif %}">
    <section class="header">
      <article>
        <h1>{{ page.title }}</h1>
        <h2 class="attr">By <a href="/">Jack Hughes</a></h2>
        <small class="date">{{ page.date | date: "%-d %B, %Y" }}
          {% if page.headercredit %}
            <br><a href="{{ page.headercredit }}" class="link-white">Photo credit</a>
          {% endif %}
        </small>
      </article>
    </section>
  </div>
  <section class="post">
    <article>
      {{ content }}
    </article>
  </section>
  <section class="subscribe">
    <article>
      <h3>Like this post?</h3>
      <br>
      <div class="createsend-button" style="height:27px;display:inline-block;" data-listid="d/97/A1B/778/42B72545A1EAC22F">
      </div><script type="text/javascript">(function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=2'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();</script>
      <p><a href="/blog/feed" class="rss-feed">Subscribe by RSS</a></p>
      <p><a href="https://twitter.com/jackhughesweb" class="twitter-follow-button" data-dnt="true" data-size="large" data-show-count="false">Follow @jackhughesweb</a>

    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script></p>
    </article>
  </section>
  <section class="next-post">
    <article>
      <h3>Read next:</h3>
      {% if page.next %} 
        {% for post in site.tags.blog limit: 1 %}
          <p class="blog-post-preview"><a href="{{ post.url }}">{{ post.title }}<br><small>{{ post.date | date: "%-d %B, %Y" }}</small></a></p>
        {% endfor %}
      {% else %}
        {% if page.previous %} 
          <p class="blog-post-preview"><a href="{{ page.previous.url }}">{{ page.previous.title }}<br><small>{{ page.previous.date | date: "%-d %B, %Y" }}</small></a></p>
        {% endif %} 
      {% endif %}
      <h4><a href="/blog" class="no-dec arrow-white">More posts</a></h4>
    </article>
  </section>
</div>

<style>
  div.header-container {
    {% if page.header %}
      background-image: url('{{ page.header }}');
    {% endif %}
  }
</style>

<!--

<div class="link-top"></div>
<div class="post post-blog">
{{ content }}
<hr>
</div>
<br>
<br>
<br>
<div class="createsend-button" style="height:27px;display:inline-block;" data-listid="d/97/A1B/778/42B72545A1EAC22F">
</div><script type="text/javascript">(function () { var e = document.createElement('script'); e.type = 'text/javascript'; e.async = true; e.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://btn.createsend1.com/js/sb.min.js?v=2'; e.className = 'createsend-script'; var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(e, s); })();</script>
<br>
<br>
<br>
<div id="disqus_thread"></div>
<script type="text/javascript">
  var disqus_shortname = 'jackhughesweb';
  /* * * DON'T EDIT BELOW THIS LINE * * */
  (function() {
    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
  })();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
<script src="/js/jquery-1.10.2.min.js"></script>
<script>
  var animation = setInterval(function(){ 
    if(window.scrollY < ($('header').height() * 0.25)){ 
      document.getElementsByTagName('body')[0].className = ""; 
    }else{ 
      document.getElementsByTagName('body')[0].className = "white"; 
    }
    if(window.scrollY < ($('header').height())){ 
      document.getElementsByTagName('html')[0].className = "icon"; 
    }else{ 
      document.getElementsByTagName('html')[0].className = "icon floating"; 
    }
  }, 100);
  (function($){
    $('.link-top').click(function(){
      $('html').animate({ scrollTop: 0 }, 'slow');
      $('body').animate({ scrollTop: 0 }, 'slow');
    });
  })(jQuery);
</script>
-->