<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} - Jack Hughes</title>
        <meta name="viewport" content="width=device-width">
    
        <meta property="twitter:account_id" content="1512910730" />
        <meta name="p:domain_verify" content="644d6e5fe6bab2fb1322359438e89222"/>

        {% if page.redirecturl %}
        <noscript>
          <meta http-equiv="refresh" content="0;URL={{ page.redirecturl }}">
        </noscript>
        <script>location.replace("{{ page.redirecturl }}")</script>
        {% endif %}

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:400,700" rel="stylesheet">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <link rel="shortcut icon" href="/favicon.ico">

    </head>
    <body>

        <header>
          <div class="container">
            {% if page.nav == "about" %}
                <a href="/" class="current"><img src="/img/logo-white.png" width="30" height="30"><span>Jack Hughes</span></a>
            {% else %}
                <a href="/"><img src="/img/logo-white.png" width="30" height="30"><span>Jack Hughes</span></a>
            {% endif %}
            {% if page.nav == "blog" %}
                <a href="http://blog.jackhughesweb.com" class="current"><img src="/img/blog.png" width="30" height="30"><span>Blog</span></a>
            {% else %}
                <a href="http://blog.jackhughesweb.com"><img src="/img/blog.png" width="30" height="30"><span>Blog</span></a>
            {% endif %}
            {% if page.nav == "projects" %}
                <a href="/projects" class="current"><img src="/img/projects.png" width="30" height="30"><span>Projects</span></a>
            {% else %}
                <a href="/projects"><img src="/img/projects.png" width="30" height="30"><span>Projects</span></a>
            {% endif %}
          </div>
        </header>

        <div class="title-bar">
          <div class="container">
          {% if page.date %}
            {% unless page.work %}
              <h1 class="blog">{{ page.title }}</h1>
            {% else %}
              <h1>{{ page.title }}</h1>
            {% endunless %}
          {% else %}
            <h1>{{ page.title }}</h1>
          {% endif %}
          {% if page.date %}
              {% unless page.work %}
                  <small class="date">{{ page.date | date: "%-d %B, %Y" }}</small>
                {% else %}
                  <small class="subtitle">{{ page.subtitle }}</small>
              {% endunless %}
          {% else %}
            {% if page.subtitle %}
              <small class="subtitle">{{ page.subtitle }}</small>
            {% endif %}
          {% endif %}
          </div>
        </div>

        <div class="container content">
          {{ content }}
        </div>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-45227720-1', 'jackhughesweb.com');
        ga('send', 'pageview');

      </script>
    </body>
</html>
