<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} - Jack Hughes</title>
        <meta name="viewport" content="width=device-width">
    
        <meta property="twitter:account_id" content="1512910730" />
        <meta name="p:domain_verify" content="644d6e5fe6bab2fb1322359438e89222"/>

        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700" rel="stylesheet">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

        <link rel="shortcut icon" href="/favicon.ico">

        <script type="text/javascript" src="/js/jquery-1.10.2.min.js"></script>
        <script type="text/javascript" src="/js/jquery.fitvids.js"></script>
        <script>
          $(document).ready(function(){
            $("section.post").fitVids();
            $(".transcript-toggle").on("click", function () {
                $(".transcript-content").slideToggle();
            });
          });
        </script>

    </head>
    <body>

        <div class="container content">
          {{ content }}
        </div>
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-45227720-1', 'jackhughesweb.com');
        ga('send', 'pageview');

      </script>
    </body>
</html>
