---
layout: default
nav: portfolio
---
<div id="blog-post" class="blog-post">
  <div class="header-container {% if page.header %}header-photo{% else %}header-no-photo{% endif %}">
    <section class="header">
      <article>
        {% if page.logo %}
          <img src="{{ page.logo }}" alt="{{ page.title }}" class="project-logo-wide">
        {% else %}
          <h1>{{ page.title }}</h1>
        {% endif %}
      </article>
    </section>
    {% if page.headercredit %}
      <a href="{{ page.headercredit }}" class="link-white photo-credit" rel="nofollow"><small>
        {% if page.headercredittext %}
          {{ page.headercredittext }}
        {% else %}
          Photo credit
        {% endif %}
      </small></a>
    {% endif %}
  </div>
  <section class="post">
    <article>
      {{ content }}
    </article>
  </section>
  <a href="/" class="no-dec arrow-white"><section class="go-home">
    <article>
      <h3><img src="/img/avatar.jpg"><span>Jack Hughes <span class="arrow"></span></span></h3>
    </article>
  </section></a>
</div>

<style>
  div.header-container {
    {% if page.header %}
      background-image: url('{{ page.header }}');
    {% endif %}
  }
</style>